CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y
CONFIG_GPIO=y
CONFIG_CLOCK_CONTROL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y
# nRF52840 uses the internal RC/xtal LF clock for the BT stack + kernel tick.
CONFIG_CLOCK_CONTROL_NRF_K32SRC_XTAL=y
